* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* uses grid for display */
body {
  /*background: honeydew;*/
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

ol, ul {
  margin-left: 30px;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content .dart_intro {
  margin-top: 20px;
}

.content .dart_intro .programming_languages {
  margin: 5% 0 0 0;
  color: white;
}

.content .dart_intro .programming_languages h2 {
  color: white;
  text-align: center;
}


.content .dart_intro .techniques {
  margin-left: auto;
  margin-right: auto;
}

.content .dart_intro .techniques h3 {
  margin: 20px 0 0 0;
  color: white;
  text-align: center;
}

.content .dart_intro .programming_languages div {
  color: white;
  display: flex;
  justify-content: center;
}

.content .dart_intro .programming_languages div a img {

  transition: box-shadow 0.3s ease;
}

.content .dart_intro .programming_languages div a img:hover {
  opacity: 0.7;
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.content .dart_intro .explanation {
  color: white;
  margin-left: 30px;
  margin-right: auto;
}


.img_gallery {
  margin: 50px 100px 50px 100px
}

.img_gallery .row {
  display: flex;
  justify-content: center;
}

.img_gallery .row:not(:first-child) {
  margin-top: 20px;
}

.img_gallery .row .block:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.img_gallery .row .block {
  margin: 0 -50px 0 -50px;
}

.img_gallery .row .description {
  color: white;
}

.img_gallery .row .block img, .description {
  width: 80%;
  max-width: 100%;
  object-fit: cover;
}

.img_gallery .row .block img {
  height: auto;
}

.img_gallery .row .block  {
  transition: all 0.5s ease;
  width: 100%;
}

.img_gallery .row .block:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.img_gallery .row .block .description {
  padding: 5px 15px 15px 15px;
  background-color: rgba(255, 255, 255, 0.15);
}

.container p, h2, h3 {
  color: white;
}

