@font-face {
  font-family: 'LMM';
  src: url('../assets/fonts/latinmodern-math.otf');
}

.content {
  width: 800px;

  font-family: "LMM", sans-serif;
}

.content .dart_intro .techniques {
  margin-left: auto;
  margin-right: auto;
}

.content .dart_intro .techniques h3 {
  margin: 20px 0 0 0;
  color: white;
  text-align: center;
}

/* customizes the gallery of programming languages */
.content .dart_intro .programming_languages {
  margin: 20px;
  color: white;
  border: 2px solid #ccc;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.3s;

}

.content .dart_intro .programming_languages:hover {
  border-color: #666; /* 鼠标悬停时边框颜色 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 鼠标悬停时阴影效果 */
}

.content .dart_intro .programming_languages h2 {
  color: white;
  text-align: center;
}


.content .dart_intro .programming_languages div {
  color: white;
  display: flex;
  justify-content: center;
}

/* adds an effect to the images in the programming languages section*/
.content .dart_intro .programming_languages div a img {
  transition: box-shadow 0.3s ease;
}

.content .dart_intro .programming_languages div a img:hover {
  opacity: 0.7;
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.content .dart_intro .explanation {
  color: white;
  margin-left: 30px;
  margin-right: auto;
}

/* customizes the img gallery*/
.img_gallery {
  margin: 50px 100px 50px 100px
}

.img_gallery .row {
  display: flex;
  justify-content: center;
}

.img_gallery .row:not(:first-child) {
  margin-top: 20px;
}

.img_gallery .row .block:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.img_gallery .row .block {
  margin: 0 -50px 0 -50px;
}

.img_gallery .row .description {
  color: white;
}

.img_gallery .row .block img, .description {
  width: 80%;
  max-width: 100%;
  object-fit: cover;
}

.img_gallery .row .block img {
  height: auto;
}

.img_gallery .row .block  {
  transition: all 0.5s ease;
  width: 100%;
}

.img_gallery .row .block:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.img_gallery .row .block .description {
  padding: 5px 15px 15px 15px;
  background-color: rgba(255, 255, 255, 0.15);
}

.container p, h2, h3 {
  color: white;
}

