/* Defines a custom font-face for Latin Modern Math font */
@font-face {
  font-family: LMM;
  src: url("../assets/fonts/latinmodern-math.otf");
}

@keyframes animate{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  0% {
    background-position: 0 50%;
  }
}

/* Styles the form */
form {
  background: rgba(255, 255, 255, 0.1); /* Sets the background color and opacity for the form */
  padding: 2em; /* Adds padding to the form */
  height: 500px; /* Sets the height of the form */
  border-radius: 10px; /* Adds rounded corners to the form */

  /* Applies a backdrop filter and box shadow to the form */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);

  text-align: center; /* Centers the contents of the form */
  position: relative; /* Positions the form relatively */
}

/* Styles the paragraph inside the form */
form p {
  font-family: "LMM", sans-serif;
  font-weight: 500;
  color: #fff;
  opacity: .7;
  font-size: 1.4rem;
  margin-top: 0; /* Removes the top margin */
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adds text shadow */
}

/* Applies to all form inputs and textareas */
form input, textarea {
  /* Makes the background transparent */
  background: transparent;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  /* Sets the width of the form element */
  width: 300px;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(1px);
  color: #fff;
  font-family: "LMM", sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}


form input::placeholder, textarea::placeholder {
  font-family: "LMM", sans-serif; /* Sets the font family for all form elements */
}

/* Applies only to textarea elements */
form textarea {
  /* Sets the font size of the textarea element */
  font-size: 1rem;
  /* Sets the height of the textarea element */
  height: 200px;
}

/* Sets the background color and shadow effect while hovering" */
form input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2)
}

/* Sets the background color and shadow effect while typing" */
form input[type="email"]:focus,
form input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2)
}

/* Styles corresponding buttons */
form input[type="button"],
form input[type="submit"] {
  margin-top: 0;
  width: 100px;
  height: 40px;
  font-size: 1rem
}

/* Changes the cursor to pointer while hovering over corr. buttons */
form input[type="button"]:hover,
form input[type="submit"]:hover {
  cursor: pointer
}

/* Changes the bgc while activating corr. buttons */
form input[type="button"]:active,
form input[type="submit"]:active {
  background: rgba(255, 255, 255, 0.2)
}

/* Customizes the placeholders */
::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

/* Customizes the placeholders */
::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

/* Customizes the placeholders */
:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

/* Customizes the placeholders */
::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

/* Customizes the placeholders */
::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

/* Removes the outline while typing */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0
}