@font-face {
  /* Defines the huglove font family. */
  font-family: huglove;

  /* Specifies the location of the huglove font file. */
  src: url("../assets/fonts/huglove.otf");
}

@font-face {
  /* Defines the milyuna font family. */
  font-family: milyuna;

  /* Specifies the location of the milyuna font file. */
  src: url("../assets/fonts/milyuna.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* uses grid for display */
body {
  /* Makes the background image cover the entire element. */
  background-size: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 15% 0 15%;
  padding: 0 10% 0 10%;
  flex-grow: 1;
}
.content .introduction_content {
  color: white;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.4);
  margin: 5% 0 0 0;
}

.content .introduction_content #mycat img {
  display: flex;
  /* Rounds the corners of the image to make it circular. */
  border-radius: 50%;

  /* Centers the image horizontally. */
  margin: 0 auto;


  width: 120px;
  height: auto;
  /* Sets the opacity of the image to 0.9. */
  opacity: 0.9;
}

.content .introduction_content .welcome {
  display: flex;
  justify-content: center;
  align-items: center;

}

.content .introduction_content .welcome p {
  color: white;

  font-family: huglove;
  font-size: 70px;
}

.content .introduction_content #p1 {
  font-size: 20px;
  text-align: center;
}

.content .introduction_content #p2 {
  text-align: center;
}

.content .dart_intro {
  margin-top: 20px;
  background-color: rgba(128, 128, 128, 0.4);

}

.content .dart_intro .programming_languages {
  margin: 5% 0 0 0;
  color: white;
}

.content .dart_intro .programming_languages h2 {
  color: white;
  text-align: center;
  margin: 0 5% 0 5%;
}

.content .dart_intro .programming_languages div {
  color: white;
  display: flex;
  justify-content: center;
}

.content .dart_intro .programming_languages div a img {

  transition: box-shadow 0.3s ease;
}

.content .dart_intro .programming_languages div a img:hover {
  opacity: 0.7;
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.content .dart_intro .explanation {
  color: white;
  margin: 0 10% 0 10%;
}
