@font-face {
  /* Defines the huglove font family. */
  font-family: huglove;

  /* Specifies the location of the huglove font file. */
  src: url("../assets/fonts/huglove.otf");
}

@font-face {
  /* Defines the milyuna font family. */
  font-family: milyuna;

  /* Specifies the location of the milyuna font file. */
  src: url("../assets/fonts/milyuna.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* uses grid for display */
body {
  /* Makes the background image cover the entire element. */
  background-size: 100%;

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.content #mycat img {
  display: flex;
  /* Rounds the corners of the image to make it circular. */
  border-radius: 50%;

  /* Centers the image horizontally. */
  margin: 0 auto;


  width: 150px;
  height: auto;
  /* Sets the opacity of the image to 0.9. */
  opacity: 0.9;
}

.content .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .welcome p {
  /* Sets the font family of the element to huglove and the font size to 80px. */
  font-family: huglove;
  font-size: 70px;
}

.content .introduction_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content .dart_intro .programming_languages {
  margin-top: 30px;
}

.content .dart_intro .programming_languages h2 {
  text-align: center;
  margin-bottom: 20px;
}

.content .dart_intro .programming_languages div {
  display: flex;
  justify-content: center;
}

.content .dart_intro .programming_languages div a img {
  transition: box-shadow 0.3s ease;
}

.content .dart_intro .programming_languages div a img:hover {
  opacity: 0.7;
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}
