@font-face {
    font-family: "LMM";
    src: url("../assets/fonts/latinmodern-math.otf");
}

.content {
  flex-direction: column;
  width: 70%;
  /*padding: 0 50px 0 50px;*/
}

.content * {
  font-family: "LMM", sans-serif;
}


.content h3 a {
  color: #eee7e7;
  transition: all 0.5s ease-in-out;
}

/* give the disc color */
.content ul li {
  color: #d9eeeb;
}

.content ul li a {
  color: #d9eeeb;
  transition: all 0.5s ease-in-out;
}

.content h3 a:hover {
  color: #87ccec;
}

.content ul li a:hover {
  color: #bb95da;
}

.content .sitemap {
  display: flex;
  flex-direction: column;

}

.content .sitemap .map-container .heading h2 {
  font-size: 35px;
}

.content .sitemap .map-container .sites {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.content .sitemap .map-container .sites .box h3 a {
  font-size: 25px;
}

.content .sitemap .map-container .sites .box ul {
  padding-left: 10px;
}

.content .sitemap .map-container .sites .box ul li {
  list-style: disc inside;
  margin: 10px 0 15px 0;
}


