* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-size: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-left: auto;
  margin-right: auto;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /*padding: 0 50px 0 50px;*/
}

.content h2, h3, li, a {
  color: white;
}

.content .sitemap {
  display: flex;
  flex-direction: column;

}

.content .sitemap .map-container .heading h2 {
  font-size: 35px;
}

.content .sitemap .map-container .sites {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.content .sitemap .map-container .sites .box h3 a {
  font-size: 25px;
}

.content .sitemap .map-container .sites .box ul {
  padding-left: 10px;
}

.content .sitemap .map-container .sites .box ul li {
  margin: 10px 0 15px 0;
}


