/* Defines a custom font-face for Latin Modern Math font */
@font-face {
  font-family: LMM;
  src: url("../assets/fonts/latinmodern-math.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* uses grid for display */
body {
  background: honeydew;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


/* Styles for the table inside the #source_log_div element */
.content .source_log {
  font-family: 'LMM';
  font-size: 18px;
  color: #D3D3D3;
}

/* Styles table headers */
.content .source_log th {
  color: lightskyblue;
  font-weight: bolder;
  font-size: 24px;
  font-style: italic;
  font-family: 'LMM';
  /* Aligns text to the left */
  text-align: left;
  /* Vertically aligns text in the middle */
  vertical-align: middle;
}