/* Defines a custom font-face for Latin Modern Math font */
@font-face {
  font-family: LMM;
  src: url("../assets/fonts/latinmodern-math.otf");
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.source-log-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.content .source-log-container table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: rgba(128, 128, 128, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}

.content .source-log-container th, td {
  font-family: LMM;
  color: white;
  padding: 8px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content .source-log-container th {
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.content .source-log-container tr:last-child td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content .source-log-container tr th:last-child, tr td:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.content .source-log-container tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}