html {
  height: 100%;
}

.page_footer {
  max-width: 100%;
  background-color: rgba(36, 38, 43, 0.5);
}

.page_footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F0F1F3;
}

.page_footer .up_container {
  display: flex;
  justify-content: center;
}

.page_footer .up_container .box {
  padding: 10px 20px;
}

.page_footer .up_container .box h2 {
  color: #D3D3D3;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.page_footer .up_container .up_left ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: left;
}

.page_footer .up_container .up_right a {
  color: #D3D3D3;
  text-decoration: none;
  transition: all .5s ease;
}

.page_footer .up_container .up_right a:not(:first-child) {
  margin-top: 10px;
}

.page_footer .up_container .up_right a:hover {
  color: palegreen;
}

.page_footer .up_container .up_left ul li a i {
  transition: all .5s ease;
}

.page_footer .up_container .up_left ul li a i:hover {
  color: palegreen;
}

.page_footer .up_container .up_left ul li {
  font-size: 20px;
  margin: 0 15px 0 0;
}

.page_footer .up_container .up_left ul li:nth-child(1) i {
  color: #4064AC;
}

.page_footer .up_container .up_left ul li:nth-child(2) i {
  color: #1C96E8;
}

.page_footer .up_container .up_left ul li:nth-child(3) i {
  color: #fff;
}

.page_footer .up_container .up_left ul li:nth-child(4) i {
  background-image: linear-gradient(to right, #F58529, #DD2A7B, #C13584, #E1306C);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.page_footer .up_container .up_left hr {
  margin: 10px 50px 10px 0;
}
.page_footer .up_container .up_left a {
  text-decoration: none;
  color: #D3D3D3;
  transition: all .5s ease;
}

.page_footer .up_container .up_left a:hover {
  color: #0abce5;
}


.page_footer .up_container .up_middle .my_email div {
  display: flex;
}

.page_footer .up_container .up_middle a {
  color: #D3D3D3;
  text-decoration: none;
  transition: all .7s ease;
}

.page_footer .up_container .up_middle a:hover {
  color: palegreen;
}

.page_footer .up_container .up_middle i {
  margin: 0 3px 0 0;
}

.page_footer .up_container .up_middle .fa-envelope {
  font-size: 18px;
  color: lightblue;
}

.page_footer .up_container .up_middle .fa-whatsapp {
  font-size: 20px;
  color: #30f530;
}

.page_footer .up_container .up_middle .fa-facebook-messenger {
  font-size: 19px;
  background-image: linear-gradient(to bottom, #0078FF, #6A4BFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.page_footer .up_container .up_middle div:not(:first-child) {
  margin: 5px 0 0 0;
}

.page_footer .up_container .up_right a:not(:first-child) {
  margin: 5px 0 0 0;
}

.page_footer .bottom_container p {
  text-align: center;
  color: gray;
}




