@font-face {
  font-family: "Fira Code";

  src: url("../../../assets/fonts/FiraCode-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol {
  margin-left: 30px;
}

a {
  text-decoration: none;
}

/* uses grid for display */
body {

  background-size: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #D3D3D3;
  padding: 0 100px 0 100px;
}

.content .text {
  margin: 5px 0 5px 0;
}

.content pre {
  display: inline-block;
  margin: 5px 0 5px 0;
  border-radius: 10px;
  background-color: #282C34;
  overflow-x: auto;
  font-size: 14px;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content pre .language-javascript {
  display: inline-block; /* Add this line */
  margin: 0;
  padding: 0; /* Adjust this value to reduce extra space */
  font-family: 'Fira Code', 'Courier New', monospace;
}

.content .inline_code {
  background: #F3F4F4;
  font-family: 'Consolas', monospace;
  white-space: pre;
}

.content .in_text_img {
  max-width: 100%;
  height: auto;
}
