* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* uses grid for display */
body {
  background: honeydew;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content .img_map_container {
  display: flex;
  justify-content: center;
}