.navbar {
  background-color: rgba(45, 44, 44, 0.5);
}

/* Styles the header section */
.navbar header {
  /* Uses the custom font for the header */

  /* Positions the header at the top of the page and make it fixed */
  top: 0;
  left: 0;
  width: 100%;

  /* Uses flexbox to horizontally center and evenly space items */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Sets padding for the header */
  padding: 20px 50px;
}

.devicon-dart-plain-wordmark {
  font-size: 80px;
}

#search_container {
  transform: translateX(0%);
  display: inline-block;
  padding: 5px;
  background-color: rgb(36, 41, 47);
  border: 1px solid rgb(87, 96, 106);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#search_input {
  color: white;
  background-color: rgb(36, 41, 47);
  width: 200px;
  padding: 6px;
  font-size: 14px;
  border: none;
  outline: none;
}

#results {
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  background-color: rgb(36, 41, 47); /* 设置结果栏背景为白色 */
  border: 1px solid rgb(87, 96, 106);
  border-top: none;
  border-radius: 0 0 3px 3px;
}

#results a {
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap; /* 防止搜索结果折行 */
}

#results a:last-child {
  border-bottom: none;
}

#results a:hover {
  background-color: rgba(213, 241, 202, 0.34);
}


/* Styles the logo */
.navbar header .logo {
  font-family: nice_sugar;
  /* Sets the color of the logo to a semi-transparent shade of green */
  /*color: rgba(189, 225, 195, 0.96);*/
  color: white;
  /* Positions the logo relatively */
  position: relative;
  /* Sets the font size for the logo */
  font-size: 35px;
  /* Sets the font weight of the logo */
  font-weight: 300;
  /* Sets the text decoration for the logo */
  text-decoration: none;
  /* Sets the text to uppercase for the logo */
  text-transform: uppercase;
  /* Sets the letter spacing for the logo */
  letter-spacing: 2px;
  /* Adds a smooth transition effect when the logo is hovered over or resized */
  transition: 0.6s;
}

/* Styles the unordered list within the header */
.navbar header ul {
  /* Positions the unordered list relatively */
  position: relative;
  /* Use flexbox to horizontally center and evenly space items */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles the list items within the unordered list */
.navbar header li {
  /* Sets the font size for the list items */
  font-size: 20px;
}

/* Styles the list items and anchor tags within the unordered list */
.navbar header ul li {
  /* Positions the list items relatively */
  position: relative;
  /* Removes the default bullet point for the list items */
  list-style: none;
}

/* Styles the ul and li and links */
.navbar header ul li a {
  /* Sets the color of the anchor tags to white */
  /*color: #ffffff;*/
  color: white;
  /* Positions the anchor tags relatively */
  position: relative;
  /* Adds margin to the left and right of the anchor tags */
  margin: 0 15px;
  /* Removes the underline from the anchor tags */
  text-decoration: none;
}